#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

// light mode
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #000;
    --color-secondary: #fff;
  }
}

// dark mode
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #fff;
    --color-secondary: #000;
  }
}

$font: "Permanent Marker", cursive;

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: $font;

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

.App {
  text-align: center;
}